body, html {
  height: 100%;
  margin: 0;
  width: 100%;
}
.app-logo{
  padding-left: 50px;
}

.sidebar{
  height: 100vh;
  display: flex;
  float: left;
  overflow: 'scroll initial';
}

.side-container{
  padding-top: 30px;
}

.side-row {
  padding: 30px;
}

.tabled thead{
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
  z-index: 1021;
}